{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'ss/bootstrap.css' %}>
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="top_menu row m0">
			<div class="container">
				<div class="float-left">
					<ul class="left_side">
						<li>
							<a href="login.html">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-behance"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="float-right">
					<ul class="right_side">
						<li>
							<a href="login.html">
								<i class="lnr lnr-phone-handset"></i>
								012-6532-568-9746
							</a>
						</li>
						<li>
							<a href="#">
								<i class="lnr lnr-envelope"></i>
								emergency@colorlib.com
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html">
						<img src="img/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row ml-0 w-100">
							<div class="col-lg-12 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item active">
										<a class="nav-link" href="index.html">Inicio</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="departments.html">Departamentos</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="doctors.html">Doctor</a>
									</li>
									<li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="about.html">About</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="services.html">Servicios</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="elements.html">Elementos</a>
											</li>
										</ul>
									</li>
									<li class="nav-item submenu dropdown active">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="blog.html">Blog</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="single-blog.html">Detalles del Blog</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->

    <!--================ Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content row">
                    <div class="col-lg-12">
                        <h1>Cuidamos su salud cada momento</h1>
                        <p>Dedicaremos los esfuerzos que sean necesarios para reimpulsar, ampliar y difundir el Sistema Elige Vivir Sano.</p>
                        <a class="main_btn mr-10" href="#">Empezar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-3.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                    <a href="http://eligevivirsano.gob.cl/" target="_blank">Conoce del sistema</a>
                                    <h5>Elije Vivir sano</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Conoce sonbre el sistema Elije vivir sano</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                    <a href="https://www.minsal.cl/salud-responde/" target="_blank">Atendiendo 24 horas</a>
                                    <h5>Salud Responde</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Ministerio de salud</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-1.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                    <a href="https://diprece.minsal.cl/programas-de-salud/" target="_blank">Programas de salud</a>
                                    <h5>Planes y programas de salud</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Conózcalos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Salud,</a>
                                        <a class="active" href="#">Farmacias,</a>
                                        <a href="#">Salud,</a>
                                        <a href="#">Más información</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li>
                                            <a href="#">Vsitas
                                                <i class="lnr lnr-user"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">12 Dec, 2018
                                                <i class="lnr lnr-calendar-full"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">1.2M Visitas
                                                <i class="lnr lnr-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">06 Commentarios
                                                <i class="lnr lnr-bubble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/blog/main-blog/m-blog-1.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Farmacia comunal en Viña del Mar</h2>
                                        </a>
                                        <p>Para acceder a su servicio, se debe dirigir a la Farmacia ubicada en calle 13 Norte N° 1108, esquina 4 Oriente, en Viña del Mar. En horarios de atención de lunes a viernes de 09:00 a 18:00 hrs.
                                                Se solicitará receta médica sólo para aquellos medicamentos que por Ley se exige, y el límite de medicamentos por persona será lo que se indica en la receta, y en aquellos que no contemplan receta se contará con un máximo por
                                                 usuarios según medicamento e insumo.</p>
                                                 <a href="https://www.cmvm.cl/Farmacia/farmacia.php" target="_blank">Mas información</a>
                                      
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Salud,</a>
                                        <a class="active" href="#">Elije estar bien,</a>
                                        <a href="#">Salud,</a>
                                        <a href="#">Más información</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li>
                                            <a href="#">Visitas
                                                <i class="lnr lnr-user"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">12 Dec, 2018
                                                <i class="lnr lnr-calendar-full"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">1.2M Visitas
                                                <i class="lnr lnr-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">06 Commentarios
                                                <i class="lnr lnr-bubble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/blog/main-blog/m-blog-2.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Programas Deportivos</h2>
                                        </a>
                                        <p>La Casa del Deporte de Viña del Mar constituye una unidad técnico profesional, pionera a nivel nacional, especializada en el fomento y desarrollo de la actividad física, el deporte y la recreación a nivel comunal.
                                                Su tarea se ha centrado en la creación de un plan estratégico deportivo denominado “Viña Ciudad del Deporte” de carácter coherente e integral, que permita apoyar y asesorar a todos los estamentos
                                                 y actores del sistema deportivo, como son Federaciones, Asociaciones y Clubes Deportivos.</p>
                                      <a href="https://www.ciudaddeldeporte.com/" target="_blank">Mas información</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a class="active" href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li>
                                            <a href="#">Mark wiens
                                                <i class="lnr lnr-user"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">12 Dec, 2017
                                                <i class="lnr lnr-calendar-full"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">1.2M Views
                                                <i class="lnr lnr-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">06 Comments
                                                <i class="lnr lnr-bubble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/blog/main-blog/m-blog-3.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Revisa cuáles son las farmacias de turno disponibles en tu comuna</h2>
                                        </a>
                                        <p>¿Malestar inesperado o de madrugada? No te preocupes, porque estos recintos deben cumplir con turnos rotativos de 24 horas para que los usuarios cuenten con servicio toda la noche, incluidos los fines de semana y días festivos.


                                                Para todos quienes se encuentren desesperados buscando una farmacia abierta, el Ministerio de Salud (Minsal)
                                                 dispone de un sitio web que ayudará a sus usuarios a ubicar cuáles están de turno en su comuna.</p>
                                        <a href="https://farmanet.minsal.cl/maps/" target="_blank">Mas información</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Salud,</a>
                                        <a class="active" href="#">Elije vivir sano,</a>
                                        <a href="#">Salud,</a>
                                        <a href="#">Mas informacion</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li>
                                            <a href="#">Visitas
                                                <i class="lnr lnr-user"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">12 Dec, 2019
                                                <i class="lnr lnr-calendar-full"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">1.2M Vistas
                                                <i class="lnr lnr-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">06 Commentarios
                                                <i class="lnr lnr-bubble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/blog/main-blog/m-blog-4.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Te invitamos a donar</h2>
                                        </a>
                                        <p>Nuestros objetivos fundamentales han sido implementar un modelo sanitario donde la generación de donantes sea prioritaria, velar por un aumento progresivo en la tasa de donación y ser garantes del
                                             correcto funcionamiento de los procesos asociados a la donación y al trasplante.</p>
                                             <a href="https://yodonovida.minsal.cl/" target="_blank">Mas información</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Salud,</a>
                                        <a class="active" href="#">Elije donar,</a>
                                        <a href="#">Salud,</a>
                                        <a href="#">Más información</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li>
                                            <a href="#">Visitas
                                                <i class="lnr lnr-user"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">12 Dec, 2018
                                                <i class="lnr lnr-calendar-full"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">1.2M Visitas
                                                <i class="lnr lnr-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">06 Commentarios
                                                <i class="lnr lnr-bubble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/blog/main-blog/m-blog-5.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Plan Nacional de Cáncer</h2>
                                        </a>
                                        <p>Fortalecer los sistemas de registro, información y vigilancia epidemiológica, para facilitar la generación, calidad y acceso a la información, a través de un Registro Nacional del Cáncer a partir del año 2020 
                                            que signifique un apoyo en la toma de decisiones en salud pública.</p>
                                            <a href="https://www.gob.cl/plannacionaldecancer/" target="_blank">Mas información</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">01</a>
                                
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Posts">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="lnr lnr-magnifier"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                            <h4>Pedro Retamal Villagra</h4>
                            <p>Gerente General</p>
                            <div class="social_icon">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </div>
                            <p>Sean todos ustedes bienvenidos al Portal de la Corporación Municipal Viña del Mar para el Desarrollo Social, a través del cual tendrán la oportunidad de informarse de los innumerables servicios y beneficios que esta institución ofrece a los vecinos y habitantes de nuestra 
                                ciudad y de un sinnúmero de noticias que de seguro serán de mutuo interés. 
                            </p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">entradas populares</h3>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post1.jpg" alt="post">
                                <div class="media-body">
                                        <a href="http://eligevivirsano.gob.cl/" target="_blank">Conózcalos</a>
                                        <h3>Elije Vivir Sano</h3>
                                    </a>
                                    <p>2 horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post2.jpg" alt="post">
                                <div class="media-body">
                                        <a href="https://www.minsal.cl/politicas-publicas-en-alimentacion-y-nutricion/" target="_blank">Conózcalos</a>
                                        <h3>Alimentación Saludable</h3>
                                    </a>
                                    <p>2 Horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post3.jpg" alt="post">
                                <div class="media-body">
                                        <a href="http://www.mindep.cl/wp-content/uploads/2016/06/Recomendaci%C3%B3n-para-la-pr%C3%A1ctica-de-actividad-f%C3%ADsica-seg%C3%BAn-curso-de-vida.pdf" target="_blank">Recomendaciones</a>
                                        <h3>Actividad Fisica</h3>
                                    </a>
                                    <p>3 horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post4.jpg" alt="post">
                                <div class="media-body">
                                        <a href="https://www.minsal.cl/hospital-de-achao-suma-medicina-complementaria-como-reiki-yoga-y-terapia-neural-para-otorgar-mejor-salud" target="_blank">Recomendaciones</a>
                                        <h3>Medicina Complementaria</h3>
                                    </a>
                                    <p>1 hora</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#">
                                <img class="img-fluid" src="img/blog/add.jpg" alt="">
                            </a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Categorías de publicaciones</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Elije Vivir Sano
                                            </p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Calculadora Nutricional
                                               </p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Etiquetados de Alimentos

                                            </p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Calculadora de Calorías

                                            </p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Mapa de Plazas Saludables

                                            </p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Conoce Nuestros Compromisos

                                            </p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Recetas Saludables

                                            </p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Boletin informativo</h4>
                            <p>
                                    Se acercan las Fiestas Patrias y sabemos que los días de festejos abunda la comida. Es por esto que #EligeVivirSano te invita a celebrar de una manera más saludable con algunos consejos.#CelebremosChile.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom">Puedes darte de baja en cualquier momento</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Nubes de Etiquetas</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">Elije Vivir Sano</a>
                                </li>
                                <li>
                                    <a href="#">Calculadora Nutricional</a>
                                </li>
                                <li>
                                    <a href="#">Etiquetados de Alimentos</a>
                                </li>
                                <li>
                                    <a href="#">Calculadora de Calorías</a>
                                </li>
                                <li>
                                    <a href="#">Mapa de Plazas Saludables</a>
                                </li>
                                <li>
                                    <a href="#">Recetas Saludables</a>
                                </li>
                                <li>
                                    <a href="#">Conoce Nuestros Compromisos</a>
                                </li>
                                <li>
                                    <a href="#">Convenios Elije Vivir Sano</a>
                                </li>
                                <li>
                                    <a href="#">Estrategias para detener la Obecidad</a>
                                </li>
                                <li>
                                    <a href="#">Día de las Zapatillas</a>
                                </li>
                                <li>
                                    <a href="#">Politicas de Alimentación</a>
                                </li>
                                <li>
                                    <a href="#">Vacaciones Saludables</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!--================ start footer Area =================-->
    <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-6">
                        <div class="single-footer-widget">
                            <h6>Cesfam Gómez Carreño</h6>
                            <ul class="footer-nav">
                                <li>
                                    <a href="#">Nuestro Compromiso</a>
                                </li>
                                <li>
                                    <a href="#">Atención primaria de Calidad</a>
                                </li>
                                <li>
                                    <a href="#">Recomendaciones</a>
                                </li>
                                <li>
                                    <a href="#">Nuestra Red</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">Contactenos</h6>
                            <p>
                                    19 Poniente 5650, 4to. Sector,
                                    Gómez Carreño.
                            </p>
                            <h3>32 2272 263</h3>
                            <h3> 32 2272 261</h3>
                        </div>
                    </div>
                    <div class="col-lg-6  col-md-12">
                        <div class="single-footer-widget newsletter">
                            <h6>Horarios de Atención</h6>
                            <p>Lunes a Jueves: 8:00 a 17:00 hrs.Viernes: 8:00 a 16:00 hrs.</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                    method="get" class="form-inline">
    
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                                required="" type="email">
                                        </div>
    
                                        <div class="col-lg-5 col-md-12">
                                            <button class="nw-btn main_btn circle"> Empezar
                                                <span class="lnr lnr-arrow-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
CMVM &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados Carlos Arancibia-Bettsabet Hidalgo <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area =================-->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>