{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="/img/favicon.png" type="image/png">
	<title>CESFAM Gomez Carreño</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	<link rel="stylesheet" href={% static 'vendors/linericon/style.css' %}>
	<link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
	<link rel="stylesheet" href={% static 'vendors/owl-carousel/owl.carousel.min.css' %}>
	<link rel="stylesheet" href={% static 'vendors/lightbox/simpleLightbox.css' %}>
	<link rel="stylesheet" href={% static 'vendors/nice-select/css/nice-select.css' %}>
	<link rel="stylesheet" href={% static 'vendors/animate-css/animate.css' %}>
	<link rel="stylesheet" href={% static 'vendors/jquery-ui/jquery-ui.css' %}>
	<!-- main css -->
	<link rel="stylesheet" href={% static 'css/style.css' %}>
	<link rel="stylesheet" href={% static 'css/responsive.css' %}>
</head>

<body>



	<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="top_menu row m0">
			<div class="container">
				<div class="float-left">
					<ul class="left_side">
						<li>
							<a href={% url 'login' %}>
								<i class=>Inicie Seción</i>
							</a>
						</li>
					</ul>
				</div>
				<div class="float-right">
					<ul class="right_side">
						<li>
							<a href={% url 'login' %}>
								<i class="lnr lnr-phone-handset"></i>
								32 2272 263-32 2272 261
							</a>
						</li>
						<li>
							<a href="#">
								<i class="lnr lnr-envelope"></i>
								rhuichalaf@cmvm.cl
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html">
						<img src="img/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row ml-0 w-100">
							<div class="col-lg-12 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item active">
										<a class="nav-link" href="index.html">Inicio</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link" href="departments.html">Departamentos</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link" href="doctors.html">Doctores</a>
									</li>
									<li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paginas</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="about.html">About</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="services.html">Servicios</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="elements.html">Elementos</a>
											</li>
										</ul>
									</li>
									<li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="blog.html">Blog</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="single-blog.html">Blog Details</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href={% url 'contact' %}>Contacto</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->

	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="col-lg-12">
						<h1>Bienvenidos</h1>
						<p>Sean todos ustedes bienvenidos al Portal de la Corporación Municipal Viña del Mar para el Desarrollo Social, a través del cual tendrán la oportunidad de informarse de los innumerables servicios y beneficios que esta institución ofrece a los vecinos y habitantes de nuestra ciudad y de un sin número de noticias que de seguro 
							serán de mutuo interés.</p>
						<a class="main_btn mr-10" href="#">Empezar</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Procedure Category Area =================-->
	<section class="procedure_category section_gap">
		<div class="container">
			<div class="row justify-content-center section-title-wrap">
				<div class="col-lg-12">
					<h1>CESFAM Gómez Carreño</h1>
					<p>
						El centro de Salud Familiar Gómez Carreño, es un Centro de Atención Primaria con enfoque en el Modelo de Salud Familiar y comunitario, con énfasis en la promoción y prevención en salud. Se encuentra ubicado en el sector de Gómez Carreño de la comuna de Viña del Mar y atiende a una población per cápita de 21.472 usuarios aproximadamente.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="{% static 'img/procedure/p1.jpg' %}" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>Nuestro Blog</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="{% static 'img/procedure/p2.jpg' %}" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>Nuestro Blog</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="{% static 'img/procedure/p3.jpg' %}" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>Nuestro Blog</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Procedure Category Area =================-->

	<!--================ About Myself Area =================-->
	<section class="about_myself pad_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pr-0">
					<div class="about_img">
						<img class="img-fluid w-100" src={% static 'img/about-me.jpg' %} alt="">
					</div>
				</div>

				<div class="col-lg-6 pl-0">
					<div class="about_box">
						<div class="section-title-wrap text-left">
							<h1>Cesfam Gómez Carreño</h1>
							<p>
									El Equipo de Salud del CESFAM de Gómez Carreño, quiere darles la más cordial bienvenida.
El año 1972, y cumpliendo un anhelo de la población de Gómez Carreño y sectores aledaños, se inaugura el Consultorio Urbano de Gómez Carreño.

En ese entonces, un reducido grupo de funcionarios tiene como misión orientar su trabajo a la atención materno-infantil mientras la población adulta debía ser atendida en el Consultorio de Cienfuegos en Santa Inés y la atención odontológica se realizaba en un colegio del sector.

El cambio en el perfil socio demográfico de la población chilena y las políticas públicas que ponen énfasis en la Atención Primaria con una orientación integral, familiar y comunitaria, permiten que con fecha 14 de julio de 1998 nuestro centro se acredite como el primer CENTRO DE SALUD FAMILIAR de la región. Esto ha significado un esfuerzo especial en el desarrollo de un modelo de atención diferente; más cercano, integral e integrado, más resolutivo y con énfasis en estrategias preventivas y promocionales.

Hoy, nuestro centro, a meses de tener una nueva infraestructura, a 42 años de su inauguración y a 16 años de constituirse como Centro de Salud Familiar, les invita a informarse y conocer de las actividades que constantemente estamos realizando para nuestra comunidad a través de esta página web.
Con especial afecto.
							</p>
						</div>

						<div class="activity">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="activity_box">
										<div>
											<i class="lnr lnr-database"></i>
										</div>
										<h3>$<span class="counter">2.5</span> M</h3>
										<p>Total Donaciones</p>
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="activity_box">
										<div>
											<i class="lnr lnr-book"></i>
										</div>
										<h3 class="counter">1465</h3>
										<p>Total de Proyectos </p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="activity_box">
										<div>
											<i class="lnr lnr-users"></i>
										</div>
										<h3 class="counter">3965</h3>
										<p>Total Voluntarios</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="activity_box">
										<div>
											<i class="lnr lnr-users"></i>
										</div>
										<h3 class="counter">3965</h3>
										<p>Total </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Myself Area =================-->


	<!--================ Start Feedback Area =================-->
	<section class="feedback_area section_gap relative">
		<div class="container">
			<div class="row justify-content-center section-title-wrap">
				<div class="col-lg-12">
					<h1>Disfrute de los comentarios de nuestros Usuarios</h1>
					<p>
							sumarse al gran desafío de construir juntos una mejor calidad de salud para nuestra comunidad, bajo el lema “Trabajando junto a la familia”. Fraternalmente.


					</p>
				</div>
			</div>

			<div class="feedback_contents justify-content-center align-items-center">
				<div class="active-review-carusel owl-carousel">
					<div class="row">
						<div class="col-lg-6">
							<img src={% static 'img/feedback-bg.jpg' %} alt="">
						</div>

						<div class="col-lg-6">
							<div class="single-feedback-carusel">
								<div class="d-flex flex-row">
									<h4 class="">Carlos Cantillano</h4>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p class="">
										Lo considero un buen servicio. A pesar de la cantidad de personas a atender. Mantienen buen trato general con las personas.
								</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<img src="{% static 'img/feedback-bg1.jpg' %}" alt="">
						</div>

						<div class="col-lg-6">
							<div class="single-feedback-carusel">
								<div class="d-flex flex-row">
									<h4 class="">Paola Hernández</h4>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p class="">
									El personal intenta hacer lo mejor posible por cada paciente.
								</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<img src="{% static 'img/feedback-bg2.jpg' %}" alt="">
						</div>

						<div class="col-lg-6">
							<div class="single-feedback-carusel">
								<div class="d-flex flex-row">
									<h4 class="">Cindy Mora</h4>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p class="">
										En general agradecida de todos los profesionales que me han atendido en este tiempo, matronas, nutricionistas, teens, recepcionistas,guardias. Me he encontrado con un centro de muy buena calidad tanto en infraestructura como en lo profesional..
										Mis agradecimientos y felicitaciones!!!!.
								</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<img src="{% static 'img/index3.jpeg' %}" alt="">
						</div>

						<div class="col-lg-6">
							<div class="single-feedback-carusel">
								<div class="d-flex flex-row">
									<h4 class="">Roxana Salinas</h4>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p class="">
										exelente atencion y trato con respeto
										buenos doctores y
										eficiencia.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Feedback Area =================-->

	<!--================ Start Offered Services Area =================-->
	<section class="service_area section_gap">
		<div class="container">
			<div class="row justify-content-center section-title-wrap">
				<div class="col-lg-12">
					<h1>Our Offered Services</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single_service">
						<span class="lnr lnr-rocket"></span>
						<a href="#">
							<h4>24/7 Emergency</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_service">
						<span class="lnr lnr-heart-pulse"></span>
						<a href="#">
							<h4>Expert Consultation</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_service">
						<span class="lnr lnr-bug"></span>
						<a href="#">
							<h4>Intensive Care</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_service">
						<span class="lnr lnr-users"></span>
						<a href="#">
							<h4>Family Planning</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Offered Services Area =================-->


	<!--================ Start Appointment Area =================-->
	<section class="appointment-area">
		<div class="container">
			<div class="row justify-content-between align-items-center appointment-wrap">
				<div class="col-lg-5 col-md-6 appointment-left">
					<h1>
						Servicing Hours
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<ul class="time-list">
						<li class="d-flex justify-content-between">
							<span>Monday-Friday</span>
							<span>08.00 am - 10.00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Saturday</span>
							<span>08.00 am - 10.00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Sunday</span>
							<span>08.00 am - 10.00 pm</span>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 pt-60 pb-60">
					<div class="appointment-right">
						<form class="form-wrap" action="#">
							<h3 class="pb-20 text-center mb-20">Book an Appointment</h3>
							<input type="text" class="form-control" name="name" placeholder="Patient Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient Name'">
							<input type="text" class="form-control" name="phone" placeholder="Phone " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
							<input type="email" class="form-control" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
							<input id="datepicker1" name="dop" class="dates form-control" placeholder="Date of Birth" type="text">
							<div class="form-select" id="service-select">
								<select>
									<option data-display="">Disease Type</option>
									<option value="1">Type One</option>
									<option value="2">Type Two</option>
									<option value="3">Type Three</option>
									<option value="4">Type Four</option>
								</select>
							</div>
							<input id="datepicker2" class="dates form-control" placeholder="appointment Date" type="text">
							<textarea name="messege" class="" rows="5" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"></textarea>
							<div class="text-center confirm_btn_box">
								<button class="main_btn text-uppercase">Confirm Booking</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Appointment Area =================-->

	<!--================ Start recent-blog Area =================-->
	<section class="recent-blog-area section_gap">
		<div class="container">
			<div class="row justify-content-center section-title-wrap">
				<div class="col-lg-12">
					<h1>
							Nuestros blogs recientes</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="single-recent-blog col-lg-4 col-md-4">
					<div class="thumb">
						<img class="f-img img-fluid mx-auto" src="{% static 'img/b1.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Portable Fashion for women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud.
					</p>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<div class="meta">
							<span class="lnr lnr-calendar-full"></span> 13th Dec
							<span class="lnr lnr-heart"></span> 15
							<span class="lnr lnr-bubble"></span> 04
						</div>
					</div>
				</div>
				<div class="single-recent-blog col-lg-4 col-md-4">
					<div class="thumb">
						<img class="f-img img-fluid mx-auto" src="{% static 'img/b2.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Summer ware are coming</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud.
					</p>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<div class="meta">
							<span class="lnr lnr-calendar-full"></span> 13th Dec
							<span class="lnr lnr-heart"></span> 15
							<span class="lnr lnr-bubble"></span> 04
						</div>
					</div>
				</div>
				<div class="single-recent-blog col-lg-4 col-md-4">
					<div class="thumb">
						<img class="f-img img-fluid mx-auto" src="{% static 'img/b3.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Summer ware are coming</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud.
					</p>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<div class="meta">
							<span class="lnr lnr-calendar-full"></span> 13th Dec
							<span class="lnr lnr-heart"></span> 15
							<span class="lnr lnr-bubble"></span> 04
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ end recent-blog Area =================-->

	<!--================ start footer Area =================-->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2  col-md-6">
					<div class="single-footer-widget">
						<h6>Cesfam Gómez Carreño</h6>
						<ul class="footer-nav">
							<li>
								<a href="#">Nuestro Compromiso</a>
							</li>
							<li>
								<a href="#">Atención primaria de Calidad</a>
							</li>
							<li>
								<a href="#">Recomendaciones</a>
							</li>
							<li>
								<a href="#">Nuestra Red</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4  col-md-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Contactenos</h6>
						<p>
								19 Poniente 5650, 4to. Sector, Gómez Carreño.
						</p>
						<h3>32 2272 263</h3>
						<h3>32 2272 261</h3>
					</div>
				</div>
				<div class="col-lg-6  col-md-12">
					<div class="single-footer-widget newsletter">
						<h6>Horarios de Atención</h6>
						<p>Lunes a Jueves: 8:00 a 17:00 hrs.Viernes: 8:00 a 16:00 hrs.</p>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="form-group row">
									<div class="col-lg-7 col-md-6 col-sm-12">
										<input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
										 required="" type="email">
									</div>

									<div class="col-lg-5 col-md-12">
										<button class="nw-btn main_btn circle">Empezar
											<span class="lnr lnr-arrow-right"></span>
										</button>
									</div>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row footer-bottom d-flex justify-content-between">
				<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
CMVM &copy;<script>document.write(new Date().getFullYear());</script>  Todos los derechos reservados Carlos Arancibia-Bettsabet Hidalgo <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank"></a>

	



	<!--================ jQuery first, then Popper.js, then Bootstrap JS =================-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>