{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="img/favicon.png" type="image/png">
<title>CESFAM Gomez Carreño</title>
<div class="banner_content text-left">
	<div class="page_link">
		<a href="index.html">Inicio</a>
	</div>
</div>

	
<link rel="stylesheet" href={% static 'js/jquery.Rut.js' %}>
<link rel="stylesheet" href={% static 'css/login.css' %}>

<h2>Inicie Sesión</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Crear Cuenta</h1>
			<div class="social-container">
				<a href={% static '#' %} class="social"><i class="fab fa-facebook-f"></i></a>
				<a href={% static '#' %} class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href={% static '#' %} class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>use su correo electrónico para registrarse</span>
			<input type="text" placeholder="Name" />
		<script src="js/jquery-2.1.3.min.js"></script>
<!--<script src="js/jquery-3.3.1.min.js"></script>-->
<script src="/js/jquery.Rut.js"></script>

<script>
    $(document).ready(function(){

        $('#rut').Rut({
            on_error: function() {
                alert('Rut incorrecto');
                $('#rut').val('');
                $('#rut').focus();
                $('#rut').css('border-color', 'red');
            },
            format_on: 'keyup',
            on_success: function() {
                $('#rut').css('border-color', '#CCC');
            }
        });

    });
</script>
			<input type="password" placeholder="Password" />
			<button>Inicie Sesión</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		
			<form action="/auth/" method="POST">
                {% csrf_token %}
                <div class="contenedor-inputs">
                    <h1>Login</h1>
                    <input type="text" id="usuarioL" name="usuarioL" placeholder="Usuario">
                    <input type="password" id="passL" name="passL" placeholder="Constraseña">
                </div>
                <a href=/auth><input type="submit" class="btn-submit" value="Iniciar sesión"></a>
                    <p>Registrarse</p>
                </a>
            </form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>¡Dar una buena acogida!</h1>
				<p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>¡Hola amigo!</h1>
				<p>     Ingrese sus datos personales y comience su viaje con nosotros.</p>
				<a href={% url 'registro' %} > <button class="ghost" id="signUp" >Regístrate</button></a>
				
			</div>
		</div>
	</div>
</div>

<footer>
	<p>Creado con<i class="fa fa-heart"></i> by
		<a target="_blank">Bettsabet Hidalgo-Carlos Arancibia</a>
		
	</p>
</footer>