{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Detalles del Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="top_menu row m0">
			<div class="container">
				<div class="float-left">
					<ul class="left_side">
						<li>
							<a href="login.html">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-behance"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="float-right">
					<ul class="right_side">
						<li>
							<a href="login.html">
								<i class="lnr lnr-phone-handset"></i>
								32 2272 263-32 2272 261
							</a>
						</li>
						<li>
							<a href="#">
								<i class="lnr lnr-envelope"></i>
								rhuichalaf@cmvm.cl
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html">
						<img src="img/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row ml-0 w-100">
							<div class="col-lg-12 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item active">
										<a class="nav-link" href="index.html">Inicio</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link" href="departments.html">Departments</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link" href="doctors.html">Doctors</a>
									</li>
									<li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="about.html">About</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="services.html">Services</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="elements.html">Elements</a>
											</li>
										</ul>
									</li>
									<li class="nav-item submenu dropdown active">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="blog.html">Blog</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="single-blog.html">Detalles del Blog</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contacto</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Detalles del Blog</h2>
                    <div class="page_link">
                        <a href="index.html">Inicio</a>
                        <a href="single-blog.html">Detalles del Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="img/blog/feature-img1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Campaña,</a>
                                    <a class="active" href="#">de invierno,</a>
                                    <a href="#">Salud,</a>
                                    <a href="#">Seremi de Salud</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li>
                                        <a href="#">Francisco Alvarez,
                                            <i class="lnr lnr-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Martes 4 de junio de 2019
                                            <i class="lnr lnr-calendar-full"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">1.2 Millones de Visitas
                                            <i class="lnr lnr-eye"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">06 Comentarios
                                            <i class="lnr lnr-bubble"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="social-links">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>Autoridades lanzan en Cesfam Gómez Carreño de Viña del Mar Plan Invierno 2019</h2>
                            <p class="excert">
                                 En el Centro de Salud Familiar de Gómez Carreño en Viña del Mar, autoridades regionales encabezaron el lanzamiento del Plan Invierno 2019, 
                                que busca incentivar en la ciudadanía el autocuidado personal y familiar, además, de entregar otras medidas preventivas para evitar enfermedades respiratorias en esta época del año.
                            </p>
                            <p>
                                 La actividad de lanzamiento de esta campaña, que tiene por nombre “Viralicemos la Prevención”, fue encabezada por el Seremi de Salud, Francisco Alvarez, la alcaldesa de Viña del Mar, Virginia Reginato; la Directora del Servicio de Salud Viña del Mar Quillota, Solene Naudon, la Dra. Sandra Lanza del Servicio de Salud Valparaíso San Antonio; el Sub Director Médico del Servicio de Salud Viña del Mar Quillota, Dr. Francisco Armijo y 
                                 el Director del Área Salud de la Corporación Municipal de Viña del Mar, Jimmy Torres.
                            </p>
                            <p>
                                El Seremi de Salud, Francisco Alvarez, indicó que esta campaña busca disminuir el contagio de enfermedades invernales, educar a la población en la detección precoz de signos y 
                                síntomas que puedan ameritar una consulta médica inmediata.
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                  “Dentro de los síntomas graves que puedan reconocer las personas en el caso de los niños y niñas menores de un año, es si tienen fiebre, dificultad al respirar y si al hacerlo se le hunden las costillas y si presentan los labios morados, son síntomas graves por los cuales deben ser llevados a urgencia. En el caso de las personas mayores y las embarazadas si tiene dificultad al respirar tienen puntadas en el pecho tienen fiebre, escalofríos, decaimiento o tos con sangre son 
                                 síntomas por las cuales deben concurrir a una urgencia”, señaló Francisco Alvarez 
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="img/blog/post-img1.jpg" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="img/blog/post-img2.jpg" alt="">
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                     La alcaldesa Virginia Reginato, señaló que los centros de atención de salud de la comuna se encuentran dispuestos para los requerimientos, que este invierno pueda presentar la comunidad.
                                    </p>
                                    <p>
                                      “Queremos darle la tranquilidad a la comunidad que nuestros centros de salud primarios y servicios de urgencia están preparados para recibir la alta demanda de atención por enfermedades respiratorias. Nuestros CESFAM, CECOSF y SAPUs están operativos, con turnos completos, y las salas ERA (Enfermedad Respiratoria del Adulto) e IRA (Infección Respiratoria Aguda del Niño) con atención kinesiológica”, precisó la jefa comunal de Viña del Mar, Virginia Reginato.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="img/blog/prev.jpg" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white lnr-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Posteo Previo</p>
                                    <a href="#">
                                        <h4>Señora Anita</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Siguiente Posteo</p>
                                    <a href="#">
                                        <h4>Señora Clara</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white lnr-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="img/blog/next.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>5 Comentarios</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c1.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">Silvia García</a>
                                        </h5>
                                        <p class="date">4 Agosto, 2019 de 3:12 pm </p>
                                        <p class="comment">
                                            Excelente iniciativa
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">Respuesta</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">Margarita Roman</a>
                                        </h5>
                                        <p class="date">4 Agosto, 2019 de 4:00 pm  </p>
                                        <p class="comment">
                                            Me alegra mucho que se preocupen del bienestar de la comunidad
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">Respuesta</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c3.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">Sofia Peréz</a>
                                        </h5>
                                        <p class="date">4 Agosto, 2019 de 6:00 pm </p>
                                        <p class="comment">
                                            Muy Bien!!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">Respuesta</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c4.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">Anita María</a>
                                        </h5>
                                        <p class="date">4 Agosto, 2019 de 8:00 pm </p>
                                        <p class="comment">
                                            Excelente!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">Respuesta</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c5.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">Pedro Cantillano</a>
                                        </h5>
                                        <p class="date">4 Agosto, 2019 de 9:00 pm </p>
                                        <p class="comment">
                                            Maravilloso!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">Respuesta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4> Deja una respuesta</h4>
                        <form>
                            <div class="form-group form-inline">
                                <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 email">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                                    required=""></textarea>
                            </div>
                            <a href="#" class="primary-btn submit_btn"> publicar comentario</a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Posts">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="lnr lnr-magnifier"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                            <h4>Pedro Retamal Villagra</h4>
                            <p>Gerente General</p>
                            <div class="social_icon">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </div>
                            <p>Sean todos ustedes bienvenidos al Portal de la Corporación Municipal Viña del Mar para el Desarrollo Social, a través del cual tendrán la oportunidad de informarse de los innumerables servicios y beneficios que esta institución ofrece a los vecinos y habitantes de nuestra ciudad y de un sinnúmero de noticias que de seguro serán de mutuo interés.
                            </p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">entradas populares</h3>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post1.jpg" alt="post">
                                <div class="media-body">
                                        <a href="http://eligevivirsano.gob.cl/" target="_blank">Conózcalos</a>
                                        <h3>Elije Vivir Sano</h3>
                                    </a>
                                    <p>2 Horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post2.jpg" alt="post">
                                <div class="media-body">
                                        <a href="https://www.minsal.cl/politicas-publicas-en-alimentacion-y-nutricion/" target="_blank">Conózcalos</a>
                                        <h3>Alimentación Saludable</h3>
                                    </a>
                                    <p>2 Horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post3.jpg" alt="post">
                                <div class="media-body">
                                        <a href="http://www.mindep.cl/wp-content/uploads/2016/06/Recomendaci%C3%B3n-para-la-pr%C3%A1ctica-de-actividad-f%C3%ADsica-seg%C3%BAn-curso-de-vida.pdf" target="_blank">Recomendaciones</a>
                                        <h3>Actividad Física</h3>
                                    </a>
                                    <p>3 Horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog/popular-post/post4.jpg" alt="post">
                                <div class="media-body">
                                        <a href="https://www.minsal.cl/hospital-de-achao-suma-medicina-complementaria-como-reiki-yoga-y-terapia-neural-para-otorgar-mejor-salud" target="_blank">Recomendaciones</a>
                                        <h3>Medicima Complementaria</h3>
                                    </a>
                                    <p>1 hora</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#">
                                <img class="img-fluid" src="img/blog/add.jpg" alt="">
                            </a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">  Categorías de publicaciones</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Elije Vivir Sano</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Calculadora Nutricional</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Etiquetados de Alimentos</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Calculadora de Calorías</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Mapa de Plazas Saludables</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Conoce Nuestros Compromisos</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Recetas Saludables</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Boletin informativo</h4>
                            <p>
                                    Se acercan las Fiestas Patrias y sabemos que los días de festejos abunda la comida. Es por esto que #EligeVivirSano te invita a celebrar de una manera más saludable con algunos consejos.#CelebremosChile
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom"> Puedes darte de baja en cualquier momento</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title"> Nubes de etiquetas</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">Elije Vivir Sano</a>
                                </li>
                                <li>
                                    <a href="#">Calculadora Nutricional</a>
                                </li>
                                <li>
                                    <a href="#">Etiquetados de Alimentos</a>
                                </li>
                                <li>
                                    <a href="#">Calculadora de Calorías</a>
                                </li>
                                <li>
                                    <a href="#">Mapa de Plazas Saludables</a>
                                </li>
                                <li>
                                    <a href="#">Recetas Saludables</a>
                                </li>
                                <li>
                                    <a href="#">Conoce Nuestros Compromisos</a>
                                </li>
                                <li>
                                    <a href="#">Convenios Elije Vivir Sano</a>
                                </li>
                                <li>
                                    <a href="#">Estrategias para detener la Obecidad</a>
                                </li>
                                <li>
                                    <a href="#">Día de las Zapatillas</a>
                                </li>
                                <li>
                                    <a href="#">Politicas de Alimentación</a>
                                </li>
                                <li>
                                    <a href="#">Vacaciones Saludables</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!--================ start footer Area =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-6">
                    <div class="single-footer-widget">
                        <h6>Cesfam Gómez Carreño</h6>
                        <ul class="footer-nav">
                            <li>
                                <a href="#">Nuestro Compromiso</a>
                            </li>
                            <li>
                                <a href="#">Atención primaria de Calidad</a>
                            </li>
                            <li>
                                <a href="#">Recomendaciones</a>
                            </li>
                            <li>
                                <a href="#">Nuestra Red</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Contactenos</h6>
                        <p>
                                19 Poniente 5650, 4to. Sector,
                                Gómez Carreño.
                        </p>
                        <h3>32 2272 263</h3>
                        <h3> 32 2272 261</h3>
                    </div>
                </div>
                <div class="col-lg-6  col-md-12">
                    <div class="single-footer-widget newsletter">
                        <h6>Horarios de Atención</h6>
                        <p>Lunes a Jueves: 8:00 a 17:00 hrs.Viernes: 8:00 a 16:00 hrs.</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">

                                <div class="form-group row">
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                            required="" type="email">
                                    </div>

                                    <div class="col-lg-5 col-md-12">
                                        <button class="nw-btn main_btn circle"> Empezar
                                            <span class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
CMVM &copy;<script>document.write(new Date().getFullYear());</script> 
Todos los derechos reservados Carlos Arancibia-Bettsabet Hidalgo<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area =================-->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>